.retalForm{
padding: 2% ;
margin: 1% 35% ;
background-color: white;
text-align: left;
}

.lable{
    margin-top: 2%
}

.retalFormbg{

    background-color: #eeeeee;
    height: 1000px;
}

.checkbox{
    margin-left: 4%
}